.App {
  text-align: center;
  background-color: rgb(186, 196, 215);
  min-width: 1200px;
  min-height: 1200px;
  border: solid 2px black;
  box-shadow: 5px 5px 5px black;
  margin-top: 20px;
  border-radius: 3%;
}



.headliner{
  background-color: rgb(186, 196, 215);
  border: solid 2px black;
  text-shadow: 2px 2px 2px;
  border-radius: 5%;
  box-shadow: 5px 5px 5px black;
}

.list_box{
  margin-top: 10px;
  
  opacity: 20;
  
}

.toolbar{
  background-color: rgb(186, 196, 215);
  border: solid 2px black;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px black;
  border-radius: 5%;
}

.start_image{
  background-image: url('./photos/img_start.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  min-width: auto;
  min-height: 1000px;
  border-radius: 2%;
  box-shadow: 5px 5px 5px black;
}

.forecast{
  background-image: url('./photos/forecast.jpg');
  background-repeat: repeat;
  background-size: auto;
  min-width: auto;
  min-height: 1000px;
  box-shadow: 5px 5px 5px black;
  color:white;
}

.workingtime{
  background-image: url('./photos/working.jpg');
  background-repeat: repeat;
  background-size: auto;
  min-width: auto;
  min-height: 1000px;
  border-radius: 2%;
  box-shadow: 5px 5px 5px black;
}

.worktimeFields{
  margin-top:10px;
  margin-bottom: 10px;
}

.listViewItems{
  border:3px solid black;
  box-shadow: 3px 3px 3px black;
  border-radius: 5%;
  margin:5px;
  color:rgb(255, 254, 254);
}

.projects{
  background-image: url('./photos/projects.jpg');
  background-repeat: repeat;
  background-size: auto;
  min-width: auto;
  min-height: 1000px;
  border-radius: 2%;
  box-shadow: 5px 5px 5px black;

}

.Aboutme{
  background-image: url('./photos/aboutme.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  min-width: auto;
  min-height: 1000px;
  border-radius: 2%;
  box-shadow: 5px 5px 5px black;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(880deg);
  }
}
