.App {
  text-align: center;
  background-color: rgb(24, 195, 233);
  min-width: 1200px;
  min-height: 1200px;
  border: solid 2px black;
  box-shadow: 5px 5px 5px black;
  margin-top: 10px;
}



.headliner{
  background-color: aqua;
  text-shadow: 2px 2px 2px;
  border-radius: 5%;
  box-shadow: 5px 5px 5px black;
}

.list_box{
  margin-top: 10px;
  background-color: aqua;
  
}

.toolbar{
  background-color: aqua;
  border: solid 2px black;
  margin-bottom: 10px;
}

.start_image{
  background-image: url('./photos/img_start.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  min-width: auto;
  min-height: 1000px;
}

.forecast{
  background-image: url('./photos/forecast.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  min-width: auto;
  min-height: 1000px;
 
}

.workingtime{
  background-image: url('./photos/working.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  min-width: auto;
  min-height: 1000px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(880deg);
  }
}
